.errorview {
    margin-top: 250px;
    margin-right: 10%;
    margin-left: 25%;
    padding: 10px;
    font-size: 24px;
    color: #2700ff;
    border: 2px solid #ddd;
    width: 630px;
}
.new-notification span {
    color: #fff;
    margin-right: 10px;
    margin-top: 2px;
}
.new-notification .stats {
    color: #000;
}
.live-notifications .alert {
    padding: 5px 15px;
}
.new-notification h4 {
    text-align: center;
}
.department-collapse {
    padding-bottom: 20px;
}
.btn-room {
    border: 2px solid #888888;
    font-weight: 400;
    background-color: #3181f9;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
    color: #ffffff;
}
.add-department .form-group input{
    border-left: 1px solid #ddd!important;
    border-radius: 2px!important;
}
.rooms-button button {
    margin-bottom: 5px;
    width: 140px;
    margin-left:5px;
}
.department-buttons {
    display: inline;
    float: right;
}
.room-buttons {
    display: inline;
    float: right;
}
.user-password {
    display: inline-flex;
}
.user-password .username input , .user-password .password input{
    border-left: 1px solid #ddd!important;
    border-radius: 2px!important;
}
.user-password .password {
    margin-left: 10px;
}
.tab-pane .rooms-inline {
    display:inline-flex;
}
.tab-content .tab-pane {
    padding: 20px;
    margin-top: -20px;
}
.dep-name {
    text-align: center;
}
.rooms-info {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Dashboard Overlay */



/* Departments Overlay */

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0;
}

.department-collapse {
    margin-top: 20px;
    padding-bottom: 40px;
}

/* Patients Overlay */
.modal-body h5 span {
    font-weight: bold;
    font-size: 18px;
}
.patient-name .form-control, .diagnostic .form-control{
    border: 1px solid #ddd!important;
    border-radius: 5px;
}

.accomodation .bed input {
    width:100%;
}
#add-patient label {
    margin-top:10px;
}

.bootstrap-datetimepicker-widget{
    z-index:9999 !important;
}
.datepicker {
    z-index: 1600 !important; /* has to be larger than 1050 */
}
.rooms-beds {
    width:100%;
    display: inline-flex;
}
.accomodation button {
    margin-bottom: 10px;
    margin-top: 10px;
}
.accomodation {
    width: 90%;
}
.rooms-beds .dropdown {
    width:50%;
}
.rooms-beds .dropdown button{
    width:95%;
}
.tables-list {
    overflow: hidden;
}
.room-list {
    display: none;
}
.bed-list {
    display: none;
}
.show-table {
    display: block !important;
}

.room-table .room{
    display:none;
}
.no-bed {
    display: none;
    font-size: 16px;
    margin-top: 10px;
}
.footable .fa {
    font-size: 22px;
}
.footable .fa-times {
    color:#ea0000;
}
.footable .fa-pencil-square-o {
    color:#007eff;
}
.card .table tbody td:last-child, .card .table thead th:last-child {
    padding-right: 0px;
}
.footable tbody tr td:last-child i{
    margin-right:10px;
}
.active-department {
    background: #ddd!important;
}
.bed-details {
    display: none;
}
.table-no-patient {
    font-weight: bold;
    font-style: italic;
}
#add-patient-in-bed .patient-name {
    display: inline-flex;
}
#add-patient-in-bed .patient-name input , #add-patient-in-bed .diagnostic input{
    border-left:1px solid #ddd;
}

.datetimepicker {
    display: none;
    visibility: visible;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: absolute!important;
    opacity: 1!important;
}
.datepicker-admission {
    top: 325px!important;
}

.datepicker-extern{
    top: 400px!important;
}
.datepicker-bed-admission {
     top: 300px!important;
}
.datepicker-bed-extern {
    top: 365px!important;
}

.datetimepicker-days table .old, .datetimepicker-days table .new{
    color: #dddddd !important;
}
.datetimepicker .table-condensed .switch {
    text-align: center!important;
}
.datetimepicker .table-condensed .glyphicon-arrow-right {
    float: right!important;
}
.modal-body .col-md-6, .modal-body .col-md-12{
    padding-left: 0px!important;
}
#add-department .modal-body {
    margin-bottom: 70px!important;
}
.modal-body input  {
    border-left:1px solid #ddd!important;
}
.datetimepicker .datetimepicker-months .table-condensed {
    width: 230px!important;
}
.datetimepicker .datetimepicker-months tbody .month {
    width: 55px;
    padding-top: 10px;
    height: 40px;
}
.datetimepicker .datetimepicker-days {
    padding: 5px!important;
}
.datetimepicker .datetimepicker-days tbody .day {
    padding-left: 10px;
}
.datetimepicker .datetimepicker-months tbody .month:hover , .datetimepicker .datetimepicker-days tbody .day:hover{
    background-color: #337ab7;
    color: #ffffff;
    border:2px;
    border-radius: 5px;
}
.datetimepicker .datetimepicker-years tbody .year:hover, .datetimepicker .datetimepicker-hours tbody .hour:hover{
    background-color: #337ab7;
    color: #ffffff;
    border:2px;
    border-radius: 5px;
}
.datetimepicker .datetimepicker-years table , .datetimepicker .datetimepicker-hours table{
    width: 250px;
}
.datetimepicker .datetimepicker-years tbody .year{
    height: 50px;
    padding-top: 15px;
}
.datetimepicker .datetimepicker-hours tbody .hour {
    height: 30px;
    padding: 5px;
    text-align: center;
}
.datetimepicker .datetimepicker-minutes table {
    width: 250px;
}
.datetimepicker .datetimepicker-minutes tbody .minute{
    height: 30px;
    padding-top: 5px;
}
.datetimepicker .datetimepicker-minutes tbody .minute:hover{
    background-color: #337ab7;
    color: #ffffff;
    border:2px;
    border-radius: 5px;
}
.navbar-collapse .dropdown-menu {
    font-size: 16px!important;
}
.navbar-collapse .dropdown-menu li a:hover {
    background-color: #63d8f1;
}
/* Add patient modal overlay */
#add-patient .modal-content .accomodation .dropdown-menu{
    border: 2px solid #6b7a99;
    border-radius: 5px;
}
#add-patient .modal-content .accomodation .dropdown-menu > li:first-child > a {
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
#add-patient .modal-content .accomodation .dropdown-menu > li:last-child > a {
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

#add-patient .modal-content .accomodation .dropdown-menu li a:hover{
    background-color: #3472F7;
    color: #eee;

}
.room-error-red i{
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -5px;
}
.room-error-red {
    background-color: #ff1a1a;
    border: 1px solid #bdbdbd!important;
    width: 285px;
    padding: 10px 25px 10px 15px;
    font-size: 16px;
    color: #eee;
}

.bed-error-red i{
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -5px;
}
.bed-error-red {
    background-color: #ff1a1a;
    border: 1px solid #bdbdbd!important;
    width: 255px;
    padding: 10px 25px 10px 15px;
    font-size: 16px;
    color: #eee;
}
.empty-li {
    text-align: center;
    font-size: 20px;
    background: #5c8ef8;
    color: #fff;
    padding: 5px;
    min-width: 230px;
}
.empty-li:hover {
    background: #ffffff;
    color: #4a81f3;
}
.empty-li i {
    font-size: 26px;
    margin-right: 10px;
}
/* Small resolutions Overlay Settings */
@media screen and (min-width: 991px) {

}

@media screen and (max-width: 991px) {
    .room-table thead tr th:first-child{
        min-width: 180px;
    }
    .bed-table thead tr th:first-child{
        min-width: 120px;
    }
    .bed-table thead tr th:nth-child(2){
        min-width: 120px;
    }
}
@media only screen and (min-width:991px) and (max-width:1280px) {
    .department-table thead tr th:first-child {
       width: 140px;
   }

}