.bed-request h2{
    margin-bottom: 30px;
    margin-left: 15px;
 }
.bed-request h3 {
    text-align: center;
    margin-bottom: 50px;
}
.bed-request button {
    font-size: 18px;
    margin-bottom: 10px;
}
.bed-request button i {
    font-size: 24px;
}