@(departments: List[Department])
<!-- Add new patient -->
<div class="modal fade" id="add-patient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@routes.Admin.addPatient()" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new patient</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="patient-name">
                            <div class="input-group col-md-6 col-xs-6 name">
                                <label for="InputName">First Name:</label>
                                <input type="text" class="form-control first-name" name="first_name" id="InputName" placeholder="First Name" required="">
                            </div>
                            <div class="input-group col-md-6 col-xs-6 phone">
                                <label for="InputPhone">Last Name:</label>
                                <input type="text" class="form-control last-name" name="last_name" id="InputPhone" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="patient-info">
                            <div class="input-group col-md-6 col-xs-6 diagnostic">
                                <label for="InputDiagnostic">Diagnostic:</label>
                                <input type="text" class="form-control" name="diagnostic" id="InputDiagnostic" placeholder="Diagnostic" required="">
                            </div>
                            <div class="input-group col-md-6 col-xs-6 age">
                                <label for="InputAge">Age:</label>
                                <input type="number" min="1" class="form-control" name="age" id="InputAge" placeholder="Age">
                                <input type="hidden" class="form-control" name="bed_id" id="bed_id">
                            </div>
                        </div>
                        <div class="dates">
                            <label for="Admission">Admission Date:</label>
                            <div class='input-group date col-md-12' id='admission-date'>
                                <input type="text" class="form-control" name="admission_date" id="Admission" type="date" placeholder="Admission date">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <label for="Admission">Extern Date:</label>
                            <div class='input-group date col-md-12' id='extern-date'>
                                <input type="text" class="form-control" name="extern" id="Extern" type="date" placeholder="Extern date">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="accomodation">
                            <div class="dropdown drop-department">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Department
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                @for(department <- departments){
                                    <li class="department-option" department-id="@department.getId">
                                        <a href="#">@department.getName</a>
                                    </li>
                                }
                                </ul>
                            </div>
                            <div class="rooms-beds">
                                <div class="dropdown drop-room">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Room
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="room-error room-error-red">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Please select department first
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown drop-bed">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Bed
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu bed-menu">
                                        <li class="bed-error bed-error-red">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Please select a room first
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer confirm-add">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" name="submit" id="add-new-patient" value="Add patient">
                </div>
            </form>
        </div>
    </div>
</div>
