<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/animate.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/jquery-ui.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/bootstrap-datetimepicker.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/bootstrap-datetimepicker-standalone.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/light-bootstrap-dashboard.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/pe-icon-7-stroke.css")">
    <link rel="stylesheet" media="screen" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/footable.bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/footable.bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/font-awesome.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/sweetalert.css")">


    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin/admin.css")">


    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/jquery-1.10.2.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/jquery-ui.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/bootstrap.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("assets/libs/moment-with-locales.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("assets/libs/bootstrap-datetimepicker.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("assets/libs/bootstrap-datetimepicker.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/bootstrap-select.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/bootstrap-checkbox-radio-switch.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/chartist.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/bootstrap-notify.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/light-bootstrap-dashboard.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/footable.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/footable.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/sweetalert.min.js")'></script>

    <script type='text/javascript' src='@routes.Assets.at("javascripts/admin/index.js")'></script>
</head>