@import service.UserProvider
@(sidebar: Html, header: Html, userProvider: UserProvider)

<div class="wrapper">
    @sidebar
    <div class="main-panel">
        @header
        <div class="content notifications">
            <div class="content ">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card">
                            <div class="live-notifications">
                                <div class="header">
                                    <h4 class="title">Live Notifications</h4>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="alert alert-info new-notification">
                                                <div class="stats">
                                                    <h5>
                                                        <i class="fa fa-history"></i>
                                                        2 min
                                                        Intensive Department -
                                                        Room 3 (Bed 54)
                                                    </h5>
                                                </div>
                                                <h4>Need some water</h4>
                                            </div>
                                            <div class="alert alert-warning new-notification">
                                                <div class="stats">
                                                <h5>
                                                    <i class="fa fa-history"></i>
                                                    10 min
                                                    Retards Department -
                                                    Room 12 (Bed 12)
                                                </h5>
                                                </div>
                                                <h4>Need to go at bathroom</h4>
                                            </div>
                                            <div class="alert alert-danger new-notification">
                                                <div class="stats">
                                                <h5>
                                                    <i class="fa fa-history"></i>
                                                    2 min
                                                    Therapy Department -
                                                    Room 1 (Bed 2)
                                                </h5>
                                                </div>
                                                <h4>Pulse low </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-history"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                        &copy; 2016 <a href="http://www.sharkbyte.ro">SharkByte.ro</a>
                    , made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>



