@import service.UserProvider
@(departments: List[Department], sidebar: Html, header: Html, add_patient_modal: Html, userProvider: UserProvider)

<div class="wrapper">
    @sidebar
    <div class="main-panel">
        @header
        <div class="content departments">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Hospital Management</h4>
                                <p class="category">Departments</p>
                            </div>
                            <div class="content tables-list">
                                <div class="col-md-3  department-table-list department-list">
                                    <button data-toggle="modal" data-target="#add-department" type="button" class="btn dropdown btn-danger">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        Add Department
                                    </button>
                                    <table class="table footable department-table footable-1 breakpoint-xs">
                                        <thead>
                                            <tr>
                                                <th>Department</th>
                                                <th data-type="html">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(departments.isEmpty) {

                                            }else{
                                                @for(department <- departments) {
                                                    @if(department.getActive_flag != false ) {
                                                        <tr class="department" id="department_@department.getId">
                                                            <td class="department-column">@department.getName</td>
                                                            <td>
                                                                <i class="fa fa-pencil-square-o edit" aria-hidden="true" data-toggle="modal" data-target="#edit-department"></i>
                                                                <i class="fa fa-times" aria-hidden="true" data-toggle="modal" data-target="#delete-department"></i>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3 room-table-list room-list">
                                    <button data-toggle="modal" data-target="#add-rooms" type="button" class="btn dropdown btn-info add-rooms">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        Add Rooms</button>
                                    <table class="table footable department-table footable-1 breakpoint-xs room-table">
                                        <thead>
                                            <tr>
                                                <th>Room</th>
                                                <th data-type="html">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @if(departments.isEmpty) {
                                        }else {
                                            @for(department <- departments) {
                                                @if(department.getRooms.nonEmpty && department.getActive_flag != false ) {
                                                    @for(room <- department.getRooms) {
                                                        @if(room.getActive_flag !=false){
                                                            <tr id="room_@room.getId" class="room department_@department.getId">
                                                                <td class="room-column">@room.getTitle</td>
                                                                <td>
                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#edit-room"></i>
                                                                    <i class="fa fa-times" aria-hidden="true" data-toggle="modal" data-target="#delete-room"></i>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 bed-table-list bed-list">
                                    <button data-toggle="modal" data-target="#add-beds" type="button" class="btn dropdown btn-info add-beds">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        Add Beds
                                    </button>
                                    <table class="table footable department-table footable-1 breakpoint-xs bed-table">
                                        <thead>
                                            <tr>
                                                <th>Bed</th>
                                                <th>Patient</th>
                                                <th data-type="html">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(departments.isEmpty) {
                                            }else {
                                                @for(department <- departments) {
                                                    @if(department.getRooms.nonEmpty) {
                                                        @for(room <- department.getRooms) {
                                                            @if(room.getBeds.nonEmpty) {
                                                                @for(bed <- room.getBeds) {
                                                                    @if(bed.getActive_flag == true) {
                                                                        @if(bed.getPatient != null) {
                                                                            <tr id="bed_@bed.getId" class="bed room_@room.getId" patient-id="patient_@bed.getPatient.getId">
                                                                                <td class="bed-column">
                                                                                    Bed #@bed.getId</td>
                                                                                <td id="patient_@bed.getPatient">
                                                                                    @bed.getPatient.getFname @bed.getPatient.getLname
                                                                                </td>
                                                                                <td>
                                                                                    <i class="fa fa-info-circle patient-details" aria-hidden="true" data-toggle="modal" data-target="#patient-details"></i>
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#edit-bed"></i>
                                                                                    <i class="fa fa-times delete-bed" aria-hidden="true" data-toggle="modal" data-target="#delete-bed"></i>
                                                                                </td>
                                                                            </tr>
                                                                        }else{
                                                                            <tr id="bed_@bed.getId" class="bed room_@room.getId">
                                                                                <td class="bed-column">
                                                                                    Bed #@bed.getId</td>
                                                                                <td class="table-no-patient">
                                                                                    No Patient
                                                                                </td>
                                                                                <td>
                                                                                    <i class="fa fa-plus-square-o add-patient" aria-hidden="true" data-toggle="modal" data-target="#add-patient-in-bed"></i>
                                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#edit-bed"></i>
                                                                                    <i class="fa fa-times delete-bed" aria-hidden="true" data-toggle="modal" data-target="#delete-bed"></i>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <div class="no-bed">
                                        No beds in this room
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                        &copy; 2016 <a href="http://www.sharkbyte.ro">SharkByte.ro</a>
                    , made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>

<!-- Department forms -->
    <!-- Add department  form-->
<div class="modal fade" id="add-department" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@routes.Admin.addDepartment()" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new department</h4>
                </div>
                <div class="modal-body add-department">
                    <div class="department-name">
                        <div class="input-group col-md-6 col-xs-6 name">
                            <label for="InputName">Department Name:</label>
                            <input type="text" class="form-control department-name" name="name" id="department_name" placeholder="Department Name" >
                        </div>
                    </div>
                    <div class="rooms-no">
                        <div class="input-group col-md-6 col-xs-6">
                            <label for="InputName">Number of Rooms:</label>
                            <input type="number" min="1" class="form-control department-room_no" name="room_no" id="department_room_no" placeholder="Number of Rooms" required="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer confirm-add">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" name="submit" value="Add Department">
                </div>
            </form>

        </div>
    </div>
</div>

    <!-- Delete department form-->
<div class="modal fade" id="delete-department" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Department</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete department:
                    <span id="department_delete_name"></span> ?
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="delete-dep" class="btn btn-danger ">Delete</button>
            </div>
        </div>
    </div>
</div>

    <!-- Edit department form -->
<div class="modal fade" id="edit-department" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit
                        <b><span id="department_edit_name"></span></b>
                    </h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <div class="edit-department">
                            <label for="dep-name">Department Name:</label>
                            <input type="text" class="form-control" name="dep-name" id="dep-name" placeholder="Department name" required="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="edit-dep-modal" class="btn btn-danger ">Edit Department</button>
            </div>
        </div>
    </div>
</div>

<!-- End department forms -->


<!-- Room forms -->
    <!-- Add rooms -->
<div class="modal fade" id="add-rooms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@routes.Admin.addRoomsToDepartment()" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add rooms</h4>
                </div>
                <div class="modal-body add-room">
                        <div class="form-group">
                            <div class="rooms-no">
                                <div class="input-group col-md-12 col-xs-12 name">
                                    <label for="InputName">Number of Rooms:</label>
                                    <input type="number" min="1" class="form-control department-room_no" name="room_no" placeholder="Number of Rooms" required="">
                                    <input type="hidden" class="form-control department-room_no" name="dep_id" id="dep_id_add_rooms">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer confirm-add">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" name="submit" value="Add Rooms">
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Delete Room -->
<div class="modal fade" id="delete-room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Room</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete room: <span id="room_delete_name"></span> ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="del-room" class="btn btn-danger ">Delete</button>
            </div>
        </div>
    </div>
</div>

    <!-- Edit room form -->
<div class="modal fade" id="edit-room" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit
                    <b><span id="room_edit_name"></span></b>
                </h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <div class="edit-room">
                            <label for="room-name">Room Name:</label>
                            <input type="text" class="form-control" name="dep-name" id="room-name" placeholder="Room name" required="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="edit-room-modal" class="btn btn-danger ">Edit Room</button>
            </div>
        </div>
    </div>
</div>
<!-- End room forms -->

<!-- Bed forms -->
    <!-- Add Bed -->
<div class="modal fade" id="add-beds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@routes.Admin.addBedsToRoom()" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Bed</h4>
                </div>
                <div class="modal-body add-bed">
                        <div class="form-group">
                            <div class="user-password">
                                <div class="input-group col-md-6 col-xs-6 username">
                                    <label for="InputUsername">Username:</label>
                                    <input type="text" class="form-control" name="username" id="InputUsername" placeholder="Username" required="">
                                    <input type="hidden" class="form-control department-room_no" name="room_id" id="room_id_add_beds">
                                </div>
                                <div class="input-group col-md-6 col-xs-6 password">
                                    <label for="InputPassword">Password:</label>
                                    <input type="text" class="form-control" name="password" id="InputPassword" placeholder="Password" required="">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer confirm-add">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="add-bed-button" class="btn btn-danger" name="submit" value="Add Bed">
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Delete Bed -->
<div class="modal fade" id="delete-bed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Bed</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete bed: <span id="bed_delete_name"></span> ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="del-bed" class="btn btn-danger ">Delete</button>
            </div>
        </div>
    </div>
</div>

    <!-- Edit bed form -->
<div class="modal fade" id="edit-bed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit
                    <b><span id="bed_edit_name"></span></b>
                </h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <div class="edit-bed">
                            <label for="bed-username">Bed Name:</label>
                            <input type="text" class="form-control" name="bed-username" id="bed-username" placeholder="Bed Username" required="">
                            <label for="bed-password">Bed Password:</label>
                            <input type="text" class="form-control" name="bed-password" id="bed-password" placeholder="Bed Password">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="edit-bed-modal" class="btn btn-danger ">Edit Bed</button>
            </div>
        </div>
    </div>
</div>

<!-- End bed forms -->

<!-- Add patient in bed form -->
<div class="modal fade" id="add-patient-in-bed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@routes.Admin.addPatientInBed()" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new patient</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="patient-name">
                            <div class="input-group col-md-6 col-xs-6 ">
                                <label for="InputFName">First Name:</label>
                                <input type="text" class="form-control first-name" name="first_name" id="InputName" placeholder="First Name" required="">
                            </div>
                            <div class="input-group col-md-6 col-xs-6 name-right">
                                <label for="InputLName">Last Name:</label>
                                <input type="text" class="form-control last-name" name="last_name" id="InputPhone" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="patient-info">
                            <div class="input-group col-md-6 col-xs-6 diagnostic">
                                <label for="InputDiagnostic">Diagnostic:</label>
                                <input type="text" class="form-control" name="diagnostic" id="InputDiagnostic" placeholder="Diagnostic" required="">
                            </div>
                            <div class="input-group col-md-6 col-xs-6 age">
                                <label for="InputAge">Age:</label>
                                <input type="number" min="1" class="form-control" name="age" id="InputAge" placeholder="Age">
                                <input type="hidden" class="form-control" name="bed_id" id="bed_id">
                            </div>
                        </div>
                        <div class="dates">
                            <label for="Admission">Admission Date:</label>
                            <div class='input-group date col-md-12' id='admission-date'>
                                <input type="text" class="form-control" name="admission" id="Admission" type="date" placeholder="Admission date">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <label for="Admission">Extern Date:</label>
                            <div class='input-group date col-md-12' id='extern-date'>
                                <input type="text" class="form-control" name="extern" id="Extern" type="date" placeholder="Extern date">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer confirm-add">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" name="submit" id="add-patient-in-bed" value="Add patient">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Patient details -->
<div class="modal fade" id="patient-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Patient Details</h4>
            </div>
            <div class="modal-body">
                <h3>Patient:
                    <b class="patient-name"></b>
                </h3>
                <h3>Age:
                    <b class="patient-age"></b>
                </h3>
                <h4>Diagnostic:
                    <b class="patient-diagnostic"></b>
                </h4>
                <h4>Admission Date:
                    <b class="patient-admission"></b>
                </h4>
                <h4>Extern Date:
                    <b class="patient-extern"></b>
                </h4>
                <h4>Details:
                    <ul>
                        <li>Department:
                            <b class="patient-department"></b>
                        </li>
                        <li>Room:
                            <b class="patient-room"></b>
                        </li>
                        <li>Bed:
                            <b class="patient-bed">#</b>
                        </li>
                    </ul>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@add_patient_modal
