@import service.UserProvider
@(patients: List[Patient], sidebar: Html, header: Html, add_patient_modal: Html, userProvider: UserProvider)

<div class="wrapper">
   @sidebar
    <div class="main-panel">
        @header

   <div class="content patients">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Patients Table</h4>
                                <p class="category">Admission patients</p>
                            </div>
                            <div class=" content">
                                <button type="button" class="btn btn-primary details" data-toggle="modal" data-target="#add-patient">
                                    Add new patient
                                </button>
                            </div>

                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped patients-table">
                                    <thead>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Diagnostic</th>
                                        <th>Department</th>
                                        <th>Room</th>
                                        <th>Bed</th>
                                        <th data-type="html">Options</th>
                                    </thead>
                                    <tbody>
                                        @if(patients.isEmpty){
                                        }else{
                                            @for(patient <- patients){

                                                <tr id="patient_@patient.getId" patient-id="@patient.getId" class="drop-patients">
                                                    <td class="patient-id">@patient.getId</td>
                                                    <td class="patient-name">@patient.getFname @patient.getLname</td>
                                                    <td class="patient-age">@patient.getAge</td>
                                                    <td class="patient-diagnostic">@patient.getDiagnostic</td>
                                                    <td class="patient-department">
                                                        @if(patient.getBed != null) {
                                                            @if(patient.getBed.getRoom != null) {
                                                                @if(patient.getBed.getRoom.getDepartment != null) {
                                                                    @patient.getBed.getRoom.getDepartment.getName
                                                                }
                                                            }
                                                        }else {
                                                            Not selected
                                                        }
                                                    </td>
                                                    <td class="patient-room">
                                                    @if(patient.getBed != null) {
                                                        @if(patient.getBed.getRoom != null){
                                                            @patient.getBed.getRoom.getTitle
                                                        }
                                                    }else {
                                                        Not Hospitalized
                                                    }
                                                    </td>
                                                    <td class="patient-bed">
                                                    @if(patient.getBed != null) {
                                                        @patient.getBed.getId
                                                    }else {
                                                        No bed assigned
                                                    }
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary details" data-toggle="modal" data-target="#details">
                                                            Details
                                                        </button>
                                                        <button type="button" class="btn btn-danger extern" data-toggle="modal" data-target="#extern">
                                                            Extern
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                        &copy; 2016 <a href="http://www.sharkbyte.ro">SharkByte.ro</a>
                    , made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>

<!-- Patient Details Modal -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Patient Details</h4>
            </div>
            <div class="modal-body">
                <h3>Patient:
                    <b id="patient-name"></b>
                </h3>
                <h3>Age:
                    <b id="patient-age"></b>
                </h3>
                <h4>Diagnostic:
                    <b id="patient-diagnostic"> </b>
                </h4>
                <h4>Admission Date:
                    <b id="patient-admission"></b>
                </h4>
                <h4>Extern Date:
                    <b id="patient-extern"> </b>
                </h4>
                <h4>Details:
                    <ul>
                        <li>Department:
                            <b id="patient-department"></b>
                        </li>
                        <li>Room:
                            <b id="patient-room"></b>
                        </li>
                        <li>Bed: <b> #</b>
                            <b id="patient-bed"></b>
                        </li>
                    </ul>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--  Extern Patient Modal -->
<div class="modal fade" id="extern" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Extern Patient</h4>
            </div>
            <div class="modal-body">
                    <h5>Are you sure you want to extern <span id="patient_extern_name"></span></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="extern-patient">Confirm Extern</button>

            </div>
        </div>
    </div>
</div>

@add_patient_modal
