<div class="sidebar" data-color="purple" data-image="@routes.Assets.at("icons/admin/img/sidebar-5.jpg")">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                    HospiQuest
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="@routes.Admin.index()">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="">
                <a href="@routes.Admin.departments()">
                    <i class="pe-7s-user"></i>
                    <p>Departments</p>
                </a>
            </li>
            <li>
                <a href="@routes.Admin.patients()">
                    <i class="pe-7s-note2"></i>
                    <p>Patients</p>
                </a>
            </li>
        </ul>
    </div>
</div>