@(errorCode: Integer, errorMessage:String)


<div class="errorview">
    Page load failed with code: @errorCode and message:  @errorMessage
</div>
<style>
    body{
        overflow:hidden;
    }
</style>