@import service.UserProvider
@(persons: List[Person], userProvider: UserProvider)

@main(userProvider, "HospiQuest - Connecting people who really need it") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/person/person.css")">
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

    <ul id="persons">
    @for(person <- persons) {
        <li id="person_@person.getId()"><a href="/person/@person.getId()">@person.getName()</a><span title="Remove @person.getName()"> - x</span></li>
    }
    </ul>

    <form method="POST" action="@routes.Persons.addPerson()">
        <input type="text" name="name"/>
        <button>Add Person</button>
    </form>
}
