/* Login page CSS */
#login{
    margin-left:auto;
    margin-right:auto;
}
.login-button {
    margin-left: -15px;
}
.forgotbutton {
    margin-left:-10px;
}
/* END login page CSS */



/* ForgotPassword page CSS */

/* End ForgotPassword page CSS */





/* Responsive resolutions @Media */
@media (min-width: 768px) {
    .forgot-password {
        display: block !important;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

@media (min-width: 992px) {
    .create-account {
        margin-top: -31px;
    }
}
@media (max-width: 992px) {
    .create-account {
        margin-left: -10px;
    }
}
