body {
    background-image: url('http://wallpapercave.com/wp/wRQfYfA.jpg');
    background-size:cover;
}
#signup{
    margin-left:auto;
    margin-right:auto;
}
.signup-button {
    margin-left: -15px;
}

@media (min-width: 767px) {
    .have-account {
        margin-top:-31px;
    }

}
@media (max-width: 767px) {
    .have-account {
        margin-left:-10px;
    }

}