.bed-login-form{
    width:450px;
    height:450px;
    margin-top:-225px;
    margin-left:-225px;
    top:50%;
    left:50%;
    position: absolute;
}

.bed-login-form input{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:10px;
}

.bed-login-form button{
    width:40%;
    margin-left:30%;
    margin-right:30%;
    margin-top:10px;
}