@import service.UserProvider
@(userProvider: UserProvider, emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, Messages("playauthenticate.password.forgot.title")) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user/login.css")">


	<h1>@Messages("playauthenticate.password.forgot.title")</h1>
	<p>
	@form(routes.Signup.doForgotPassword, 'class -> "form forgot-password", 'role -> "form") {

            @if(emailForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @emailForm.globalError.message
		     	</p>
            }

	   @_emailPartial(emailForm)

    <button type="submit" class="btn btn-default">@Messages("playauthenticate.password.forgot.cta")</button>
	}
	</p>
}
