@import service.UserProvider
@(userProvider: UserProvider, changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, Messages("playauthenticate.change.password.title")) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user/profile.css")">

	<h1>@Messages("playauthenticate.change.password.title")</h1>
	<p>
	@form(routes.Account.doChangePassword, 'class -> "form-inline change-password", 'role -> "form") {

       @if(changeForm.hasGlobalErrors) {
        <p class="alert alert-danger">
          @changeForm.globalError.message
     	</p>
       }

	   @_passwordPartial(changeForm)

    <button type="submit" class="btn btn-default">@Messages("playauthenticate.change.password.cta")</button>
	}
	</p>
}
