@import service.UserProvider
@(userProvider: UserProvider)

@main(userProvider, Messages("homepage.index.title")) {
      <div class="jumbotron">
        <h1>@Messages("homepage.index.intro")</h1>
        <p>@Messages("homepage.index.intro_2") <br/>@Messages("homepage.index.intro_3")</p>
      </div>

      <div class="row">

      </div>
    }
