@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, loginForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.login.title"),"login") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user/login.css")">

  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h1>@Messages("playauthenticate.login.title")</h1>
    </div>
  </div>

  <div id="login" class="row">

    <div class="col-xs-12 col-md-6 login">
      @* Display proprietary login form *@
    	@helper.form(routes.Application.doLogin, 'class -> "form-horizontal", 'role -> "form") {

        @if(loginForm.hasGlobalErrors) {
          	<p class="alert alert-danger">
	          @loginForm.globalError.message
	     	</p>
        }

        @_emailPartial(loginForm)

        @inputPassword(
          loginForm("password"),
          '_showConstraints -> false,
          '_label -> Messages("playauthenticate.login.password.placeholder")
        )

            <button type="submit" class="btn btn-default login-button">@Messages("playauthenticate.login.now")</button>
            <br> </br>
        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();" class="forgotbutton">@Messages("playauthenticate.login.forgot.password")</a>

    	}
    </div>

      <div class="col-xs-12 col-md-6 create-account">
          <h3 class="sph3">Don't have an account?</h3>
          <a href="@routes.Application.signup()" class="btn btn-primary">Register new account</a>
      </div>


   <!-- <div class="col-xs-6 col-sm-4">
      @Messages("playauthenticate.login.oauth")
      @* Display list of available providers *@
      @_providerPartial(playAuth, skipCurrent=false)
      @providerAvailable("basic") { available: Boolean =>
          @if(available) {
              <br>
              <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.authenticate("basic")">@Messages("playauthenticate.login.basic")</a>
          }
      }
    </div> -->

  </div>

}

