@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, Messages("playauthenticate.signup.title"),"signup") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user/signup.css")">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-1">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup, 'class -> "form-horizontal", 'role -> "form") {

            @if(signupForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @signupForm.globalError.message
		     	</p>
            }

             @inputText(
                signupForm("name"),
                '_label -> Messages("playauthenticate.signup.name")
             )

             @_emailPartial(signupForm)

             @_passwordPartial(signupForm)

            <button type="submit" class="btn btn-default signup-button">@Messages("playauthenticate.signup.now")</button>
    	}
    </div>

      <div class="col-xs-12 col-sm-6 col-md-5 have-account">
          <h3 class="sph3">Already have an account?</h3>
          <a href="@routes.Application.login()" class="btn btn-primary">Login into account</a>
      </div>

    <!-- <div class="col-xs-6 col-md-4">
        @Messages("playauthenticate.signup.oauth")
        @* Display list of available providers *@
        @_providerPartial(playAuth, skipCurrent=false)
    </div> -->

  </div>

}
